.chart {
    background-color: white;
    width: 850px;
    height: 550px;
    margin-right: 100px;
    margin-top: 35px;
}

.emitent_info {
    display: fixed;
    margin: 20px;
    margin-left: 150px;
    margin-top: 60px;
    background: white;
    width: 400px;
    height: 220px;
    border: 1px #bababa solid;
    border-radius: 5px;
}

.emitent_info h2 {
    color: #2F4F4F;
    margin-top: 25px;
    font-size: 30px;
}

.emitent_info button {
    margin-top: 30px;
    padding: 5px 25px;
    color: white;
    font: small-caps 19px serif;
    margin-right: 10px;
    background: #4d7f7f;
    border: 0px #2F4F4F solid;
    border-radius: 10px;
}

.emitent_info a {
    font-size: 25px;
    margin: 5px;
    text-decoration: none;
}

.emitent_info input {
    font: small-caps 25px serif;
    font-weight: bold;
    background: white;
    border: 0px;
}

.emitent_info input.secname {
    color: #2F4F4F;
    text-align: center;
    text-align: right;
}

.emitent_info input.price {
    font: small-caps 30px serif;
    font-weight: bold;
    text-align: right;
    border-bottom: 1px;
    text-decoration: underline;
}
h3 {
    color: #f56816;
}