* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font: small-caps 16px/2 serif;
    background-color: white;
    color: #2F4F4F;
}

header {
    display: absolute;
    height: 50px;
    width: 100%;
    margin: 0px;
    margin-left: 0px;
    background-color: #f2f2f2;
    text-align: left;
    border-bottom: 2px #dbd9d9 solid;
    border-radius: 0px 0px 20px 20px;
}

.content {
    padding-bottom: 50px;
    margin-top: 50px;
}

nav.menu ul {
    display: flex;
    list-style: none;
    position: absolute;
    top: 13px;
    right: 10px;
}

nav.menu li {
    margin-right: 10px;
}

nav a {
    color: #2F4F4F;
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    font-size: 19px;
}

nav a:hover {
    background-color: #F5F5F5;
    color: black;
    border-radius: 10px 10px;
    transition: color 0.4s ease-in, background-color 0.3s ease-out;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ebebeb;
    height: 45px;
    border-top: 3px #dbd9d9 solid;
    border-radius: 20px 20px 0px 0px;
}

nav.footer_menu {
    margin-left: 20px;
    margin-top: 7px;
}

nav.footer_menu ul {
    display: flex;
    list-style: none;
    margin-right: 40px;
}
